<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Proje Yönetim Sistemi</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">
</head>
<body>
<div class="container">

  <h1>Proje Yönetim Sistemi</h1>
  <hr>
  <h2>Kullanıcıyı Güncelle</h2>

  <form action="#" th:action="@{/saveUserAdmin}" th:object="${user}", method="POST">

    <input type="hidden" th:field="*{userID}" />
    <input type="hidden" th:field="*{userImage}" />
    <input type="hidden" th:field="*{userPassword}" />
    <input type="text" th:field="*{userName}" class="form-control mb-4 col-4">
    <input type="text" th:field="*{userSurname}"  class="form-control mb-4 col-4">
    <input type="text" th:field="*{userMail}"  class="form-control mb-4 col-4">
    <select th:field="*{roles}">
      <option th:value="ROLE_USER"> ROLE_USER</option>
      <option th:value="ROLE_ADMIN"> ROLE_ADMIN</option>
    </select>



    <button type="submit" class="btn btn-info col-2"> Kullanıcıyı Güncelle</button>
  </form>
  <hr>
  <a th:href="@{/users}"> Kullanıcılara geri dön </a> "
</div>
</body>
</html>